<html>
<head>
    <title>
        Extended Search of Middle English Prose and Verse
    </title>
<link rel="stylesheet" href="../css/style.css" />
</head>
<body>
<h1>Extended Search of Middle English Prose and Verse</h1>
<div class="menu">
    <a href="/about">About</a>
    <a href="#">And also..</a>
</div>

<form method="get" action="/search" >
    <label for="search_term">Search term</label><input type="text" name="searchTerm" id="search_term" />
    <input type="submit" value="Search" />
</form>
</body>
</html>
